{% extends "layout.html.twig" %}
{% block page_title %} Inscription {% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="w-50 mx-auto p-5 rounded border border-white bg-secondary m-5">
                <h1 class="display-5 my-4">Inscription</h1>
                {{ form(form) }}
            </div>
        </div>
    </div>
{% endblock %}
